.aplicacao{
    font-size: small;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.titulo{
    color: blueviolet;
    text-align: center;
}
.divBotao{
    margin-top: 10px;
}
.botaoPesq{
    margin: auto;
    display: flex;
    justify-content: center;

}
.inputPesquisa{
    margin: auto;
    display: flex;
    justify-content: center;
}

.divSinopse{
    width: 800px;
    height: 300px;
    margin: auto;
    display: flex;
    justify-content: center;
    
}
.sinopse{
    text-align: center;   
}
.detalhes{
    text-align: center;
}
.imagem{
    margin: auto;
    display: flex;
    justify-content: center;  
}

